.navbar-main {
  position: relative;
  padding: 0.5rem 0 0;
  background-color: var(--white) !important;
  box-shadow: none;
  z-index: 1030;
  .navbar-collapse {
    flex-direction: column;
  }
  .logo {
    width: 75px;
    @include transEase;
    transition-duration: 600ms;
    img {
      width: 100%;
    }
  }
  &.navbar-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0.5rem 0 0;
    background-color: var(--white);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
    .logo {
      width: calc(75px - 20px);
    }
    .main-nav {
      margin-top: 0.25rem;
    }
  }
}

.navbar-toggler {
  padding: 0.25rem 0.5rem;
  background: var(--color-200);
  border: 0 solid transparent;
  border-radius: 0.25rem;
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;
  &::after {
    display: none;
  }
  svg {
    width: 42px;
    transform-origin: center;
    rotate: 0.125turn;
    @include transEase;
    transition-duration: 1000ms;
  }
  .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
    @include transEase;
    transition-duration: 1000ms;
  }
  &.collapsed {
    svg {
      rotate: 0turn;
    }
    .line {
      stroke-dasharray: 60 31 60 300;
      stroke-dashoffset: 0;
    }
  }
  &:focus {
    box-shadow: none;
  }
}

.info-nav {
  margin-left: auto;
  align-items: center;
  .nav-item {
    .nav-link {
      display: flex;
      align-items: center;
      color: var(--color-100);
      font-weight: var(--font-weight-medium);
      padding: 0.1rem 1rem;
      .nav-icon {
        color: var(--bk-grade-350);
        font-size: var(--fs-13);
        margin-right: 0.5rem;
        animation: navIcon 3s ease-out infinite;
      }
      &:hover {
        color: var(--color-100) !important;
      }
    }
  }
}

.main-nav {
  margin-top: 1rem;
  margin-left: auto;
  @include transEase;
  .nav-item {
    + .nav-item {
      margin-left: 0.5rem;
    }
    .nav-link {
      display: block;
      color: var(--color-100);
      font-weight: var(--font-weight-medium);
      padding: 0.25rem 1rem;
      border-radius: 50px;
      &:hover,
      &.active {
        color: var(--white);
        background-color: var(--color-100);
        background: linear-gradient(
          to right,
          #354099 0%,
          #6a2d8f 50%,
          #354099 100%
        );
        background-size: 400% 400%;
        animation: btnGradient 2s ease infinite;
        .nav-block {
          &::after {
            width: 100%;
          }
        }
      }
      &.nav-home {
        color: var(--bk-grade-350);
        font-size: var(--fs-13);
        line-height: 100%;
        padding: 0;
        background-color: transparent;
        &:hover,
        &.active {
          color: var(--color-100);
          background: transparent !important;
        }
      }
    }
    &.active {
      .nav-link {
        background-color: transparent !important;
        .nav-block {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.menu-mega {
  position: static;
  .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    border: 0;
    padding: 0;
    margin-top: -1px;
    border-radius: 0;
    border-top: 1px solid rgba($black, 10%);
  }
}

.mega-menu-cover {
  display: flex;
  max-width: 1320px;
  padding: 2rem 0;
  margin: 0 auto;
  .mega-menu-hd {
    flex: 0 1 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      color: var(--color-100);
      font-size: var(--fs-19);
      font-weight: var(--font-weight-bold);
      max-width: 500px;
      margin: 0 0 1rem 0;
    }
  }
  .mega-menu-links {
    flex: 0 1 32%;
    max-width: 32%;
  }
  .mega-menu-button {
    flex: 0 1 18%;
    max-width: 18%;
  }
}

.drop-mega-link {
  display: flex;
  flex-wrap: wrap;
  li {
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    a {
      position: relative;
      display: block;
      font-size: var(--fs-09);
      color: var(--color-100);
      padding: 0.5rem 0.5rem 0.5rem 1.5rem !important;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 12px;
        height: 12px;
        background-image: url(../../../public/images/icon-arrow-right.svg);
        background-size: 12px;
        background-repeat: no-repeat;
        transform: translateY(-50%);
        @include transEase;
      }
      &:hover {
        color: var(--color-100) !important;
        padding: 0.5rem 0.5rem 0.5rem 2rem !important;
        &::after {
          color: var(--color-200);
        }
      }
    }
  }
}

.btn-schedule {
  @include btnCom(var(--color-100), var(--white), rgba($color-100, 40%));
  &:hover {
    color: var(--white);
    background-color: var(--color-100);
    border: 1px solid var(--color-200);
  }
}
