:root {
  //colors
  --white: #fff;
  --black: #000;

  --color-100: #241d57;
  --color-200: #6a2d8e;

  // Dark color grade
  --bk-grade-100: #eaeaea;
  --bk-grade-150: #d6d6d6;
  --bk-grade-200: #c1c1c1;
  --bk-grade-250: #adadad;
  --bk-grade-300: #999999;
  --bk-grade-350: #848484;
  --bk-grade-400: #707070;
  --bk-grade-450: #5b5b5b;
  --bk-grade-500: #474747;
  --bk-grade-550: #333333;
  --bk-grade-600: #2d2d2d;
  --bk-grade-650: #282828;
  --bk-grade-700: #232323;
  --bk-grade-750: #1e1e1e;
  --bk-grade-800: #191919;
  --bk-grade-850: #141414;
  --bk-grade-900: #0f0f0f;
  --bk-grade-950: #0a0a0a;

  // Fonts
  --primary-font-family: 'Plus Jakarta Sans';

  //Font weight
  --font-weight-lighter: 200;
  --font-weight-light: 300;
  --font-weight-normal: normal;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: bold;

  --fs-08: 0.75rem;
  --fs-09: 0.875rem;
  --fs-10: 1rem;
  --fs-11: 1.125rem;
  --fs-12: 1.25rem;
  --fs-13: 1.5rem;
  --fs-14: 1.875rem;
  --fs-15: 2rem;
  --fs-16: 2.25rem;
  --fs-17: 2.5rem;
  --fs-18: 2.875rem;
  --fs-19: 3rem;
  --fs-20: 3.25rem;
  --fs-21: 3.5rem;
  --fs-22: 4rem;
  --fs-23: 4.5rem;
  --fs-24: 5rem;
  --fs-25: 5.5rem;
  --fs-26: 6rem;
  --fs-27: 7rem;
  --fs-28: 8rem;
  --fs-29: 9rem;
  --fs-30: 10rem;
}

$white: #fff;
$black: #000;

$color-100: #241d57;
$color-200: #6a2d8e;
